<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproj.mappers.pointlogmapper">

	<!-- 글 작성한 유저에게 포인트 로그를 저장하는 쿼리문 -->
	<!-- working... -->
 	<insert id="insertPointlog" parameterType="com.miniproj.model.PointLogDTO">
		insert into pointlog (pointWho, pointWhy, pointScore) values (
			#{pointWho},
			#{pointWhy},
			(select pointScore from pointdef where pointWhy = #{pointWhy})
		)
	</insert>
	
<!-- 	<insert id="insertPointlog">
		insert into pointlog (pointWho, pointWhy, pointScore) values (
			#{pointWho},
			#{pointWhy},
			10
		);
	</insert> -->
</mapper>